body {
  background: linear-gradient( gray, white);
}

.calculator-container{
margin: auto;
margin-top: 20vh;
margin-bottom: 50vh;
height: 30vh;
background: linear-gradient(black, rgb(30 31 30));
border-radius: 5px;
padding: 5px;
}

.calculator-row{
  display: flex;
  height: 5vh;
}

p{
  text-align: right;
  padding-top: 7px;
  padding-right: 2px;
  background-color: white;
  border: 0;
  border-radius: 3px;
  width: 200px;
  height: 25px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 2px;
}

button{
  border: 1px solid;
  border-radius: 10px;
  width: 50px;
  height: 4.5vh;
  background-color: rgb(30 31 30);
  color: white;
}

.equal-button-container button{
  height: 9.5vh;
  background-color: orange;
}

.comma-button-container button{
  width: 100px;
}